body {
  margin: 0;
  background: #05060c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 3px solid #2b2f55;
  background: radial-gradient(circle at top, #1b2040, #05060c);
}
